<html>
    <head>
        <%= stylesheet_link_tag "mainapp.css" %>
        <%= stylesheet_link_tag "userdetails.css" %>
        <%= stylesheet_link_tag "userconsent.css" %>
        <%= stylesheet_link_tag "userhealth.css" %>
        <%= stylesheet_link_tag "userinsurance.css" %>
        <%= stylesheet_link_tag "userreview.css" %>
        <%= stylesheet_link_tag "progressbar.css" %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%= csrf_meta_tag %>
        <title>Kiosk Checkin</title>
    </head>
    <body>

        <header></header>
        
        <section class = "progressbar_main">
            <%= render partial: "kioskpages/progressbar", :locals => {:progval1 => progval} %>
        </section>
        <section class = "mainpage_top">
            <% if compval[0] == "1" %>
                <section class = "userpages" id = "userdetails">
                    <%= render partial: "kioskpages/userdetails" %>
                </section>
            <% else %>
                <section class = "userpages abs" id = "userdetails">
                    <%= render partial: "kioskpages/userdetails" %>
                </section>
            <% end %>
            
            <% if compval[1] == "1" %>
                <section class = "userpages" id = "userinsurance">
                    <%= render partial: "kioskpages/userinsurance" %>
                </section>
            <% else %>
                <section class = "userpages abs" id = "userinsurance">
                    <%= render partial: "kioskpages/userinsurance" %>
                </section>
            <% end %>

            <% if compval[2] == "1" %>
                <section class = "userpages" id = "userhealth">
                    <%= render partial: "kioskpages/userhealth" %>
                </section>
            <% else %>
                <section class = "userpages abs" id = "userhealth">
                    <%= render partial: "kioskpages/userhealth" %>
                </section>
            <% end %>

            <% if compval[3] == "1" %>
                <section class = "userpages" id = "userconsent">
                    <%= render partial: "kioskpages/userconsent" %>
                </section>
            <% else %>
                <section class = "userpages abs" id = "userconsent">
                    <%= render partial: "kioskpages/userconsent" %>
                </section>
            <% end %>

            <% if compval[4] == "1" %>
                <section class = "userpages" id = "userreview">
                    <%= render "kioskpages/userreview"%>
                </section>
            <% else %>
                <section class = "userpages abs" id = "userreview">
                    <%= render "kioskpages/userreview"%>
                </section>
            <% end %>
        </section>
        <section class = "progressbtns">
            <% if compval[4] != "1" %>
                <div class = "nextbtn">
                    <button>Next</button>
                </div>
            <% else %>
                <div class = "nextbtn">
                    <button>Submit</button>
                </div>
            <% end %>
        </section>
        
        
        
        
        

        <%= javascript_pack_tag "mainapp.js" %>
        <%= javascript_pack_tag "userdetails.js" %>
        <%= javascript_pack_tag "userconsent.js" %>
        <%= javascript_pack_tag "userhealth.js" %>
        <%= javascript_pack_tag "userinsurance.js" %>
        <%= javascript_pack_tag "userreview.js" %>
        <%= javascript_pack_tag "progressbar.js" %>
    </body>
</html>