<html>
    <head>
        <%= stylesheet_link_tag "mainapp.css" %>
        <%= stylesheet_link_tag "userdetails.css" %>
        <%= stylesheet_link_tag "userconsent.css" %>
        <%= stylesheet_link_tag "userhealth.css" %>
        <%= stylesheet_link_tag "userinsurance.css" %>
        <%= stylesheet_link_tag "userreview.css" %>
        <%= stylesheet_link_tag "progressbar.css" %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kiosk Checkin</title>
    </head>
    <body>

        <header></header>
        
        <section class = "progressbar">
            <%= render partial: "kioskpages/progressbar", :locals => {:tempIn1 => temp1, :tempIn2 => temp2, :tempIn3 => temp3, :tempIn4 => temp4, :tempIn5 => temp5} %>
        </section>
        
        <% if temp1 == "yes" %>
            <section class = "userpages" id = "userdetails">
                <%= render "kioskpages/userdetails" %>
                
            </section>
            
        <% end %>
        
        <% if temp2 == "yes" %>
            
            <section class = "userpages" id = "userinsurance">
                <%= render "kioskpages/userdetails" %>
            </section>
        <% end %>

        <% if temp3 == "yes" %>
            <section class = "userpages" id = "userhealth">
                <%= render "kioskpages/userhealth" %>
            </section>
        <% end %>

        <% if temp4 == "yes" %>
            <section class = "userpages" id = "userconsent">
                <%= render "kioskpages/userconsent" %>
            </section>
        <% end %>

        <% if temp5 == "yes" %>
            <section class = "userpages" id = "userreview">
                <%= render "kioskpages/userreview"%>
            </section>
        <% end %>
        
        
        
        

        <%= javascript_pack_tag "mainapp.js" %>
        <%= javascript_pack_tag "userdetails.js" %>
        <%= javascript_pack_tag "userconsent.js" %>
        <%= javascript_pack_tag "userhealth.js" %>
        <%= javascript_pack_tag "userinsurance.js" %>
        <%= javascript_pack_tag "userreview.js" %>
        <%= javascript_pack_tag "progressbar.js" %>
    </body>
</html>